{{#partial "content"}}
    <h1>POST YOUR BLOG</h1>

    {{#if posts}} <!--if posts exist, then -->
    {{#each posts}} <!--loop-->
    <p>Current post:</p>
    <p> {{ content }}  <a href="/posts/{{id}}">READ THE POST..</a> </p>  <!--show-->
    {{/each}}
    {{else}} <!--no posts!-->
    <p>No posts!</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}
